/* Get Started */
.get-started {
    width: auto;
    background: #0052fe;
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    padding: 1rem 1rem;
    border-radius: 1rem;
    align-items: center;
  }
  
  .get-started-title {
    padding: 0rem 3rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
  }
  
  .get-started-subtitle {
    width: 100%;
    padding: 2rem 0rem;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    /* padding: 0.3rem */
  }
  
  .get-started-img {
    width: 200px
  }
  
  .get-started-btn {
    padding: 0.6rem 2rem;
    border-radius: .5rem;
    border: #fff;
    margin-top: .5rem;
    cursor: pointer;
    background-color: #fff
  }
  
  @media only screen and (max-width: 1090px) {
    .get-started {
      width: 100%;
      display: flex;
      gap: 2rem
    }
  
    .get-started-title {
      padding: 0rem 1rem;
  
    }
  
    .get-started-subtitle {
      padding: 0 1rem !important;
      gap: 2rem
    }
  
    .get-started-btn {
      padding: 1rem 2rem
    }
  }
  
  @media only screen and (max-width: 3500px) {
    .get-started-subtitle {
      padding: 0 2rem
    }
  }
  
  @media only screen and (min-width: 1091px) {
    .get-started {
      position: -webkit-sticky;
      position: sticky;
      top: 10rem
    }
  }
